html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #37383A;
  color: #fff;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

figure img {
	max-width: 100%;
	max-height: 100%;
}

h1 {
	font-weight: 700;
	font-size: 3rem;
	line-height: 4rem;
}

strong {
	font-weight: 700;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
	width: 950px;
	text-align: center;
	height: auto;
}

.board {
	margin-bottom: 55px;
}

.notFoundRobot {
	width: 200px;
	height: auto;
}

.notFound figure {
	margin: 0 auto 21px auto;
}

.notFound p {
	max-width: 300px;
	line-height: 1.5rem;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.notFound h1 {
	margin-bottom: 13px;
}

.row:first-child {
	border-top: 1px solid #606060;
}

.row {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	border-bottom: 1px solid #606060;
	border-left: 1px solid #606060;
}

.col {
	height: calc(100%/50);
	width: calc(100%/50);
	border-right: 1px solid #606060;
}

.index {
	font-size: .4rem;
	font-color: #606060;
	position: absolute;
	margin: 0;
	padding: 0;
	height: calc(950px/50);
	width: calc(950px/50);
	display: flex;
	justify-content: center;
	align-items: center;
}

.index.rowIndex {
	margin-left: calc(-950px/50);
}

.index.colIndex {
	margin-top: calc(-950px/50);
}

.battle h1 {
	font-size: 2rem;
}

.battle p {
	font-size: .7rem;
}

.battle .top {
	margin: 55px auto;
}

.withEntity {
	vertical-align: middle;
	text-align: center;
}

.withEntity img {
	width: 60%;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.robot {
	background-color: #348bad;
}

.dino {
	background-color: #aa3869;
}

.arrow {
	width: 0;
	height: 0;
	border-style: solid;
	position: absolute;
	z-index: 9;
}

.arrow.north {
	border-width: 0 5px 8.7px 5px;
	border-color: transparent transparent #e1ff00 transparent;
	margin-top: -5px;
}

.arrow.south {
	border-width: 8.7px 5px 0 5px;
	border-color: #e1ff00 transparent transparent transparent;
	margin-top: 15px;
}

.arrow.west {
	border-width: 5px 8.7px 5px 0;
	border-color: transparent #e1ff00 transparent transparent;
	margin-left: -10px;
	margin-top: 2px;
}

.arrow.east {
	border-width: 5px 0 5px 8.7px;
	border-color: transparent transparent transparent #e1ff00;
	margin-left: 12px;
	margin-top: 2px;
}
